/** Variabels **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

:root {
  /* Colors */
  /* white shaders */
  --clr-white: #fff;
  --clr-snow: #fffafa;
  --clr-white-smoke-1: #f5f5f5;
  --clr-white-smoke-2: #ebebeb;
  --clr-white-smoke-3: #e6e6e6;
  --clr-white-smoke-4: #e0e0e0;
  --clr-white-smoke-5: #dbdbdb;
  --clr-white-smoke-6: #d6d6d6;
  --clr-light-grey-1: #919191;
  --clr-grey-1: #757575;
  --clr-grey-2: #707070;
  --clr-grey-3: #6b6b6b;
  --clr-grey-4: #666666;
  --clr-grey-5: #616161;
  --clr-grey-6: #5c5c5c;

  --clr-mjr: #333366; /* Slate */
  --clr-black: #28282b;
  --clr-black-light: #323236;
  --clr-dark-grey: #444444;
  --clr-rojo-pastel: #ff5200de;

  --ff-primary: "Roboto", sans-serif;

  --light-shadow: 0 5px 20px rgba(0, 0, 0, 0.01);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --default-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
  --default-btn-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.2);


  --accessible-border: 1px solid transparent;
  --default-radious-border: 0.35rem;
  --defautl--row-gap: 0 0.625em; /* 0.625em = 10px*/
  --defautl--colum-gap: 0.625em 0; /* 0.625em = 10px*/

  --min-width: 250px;
  --max-width: 92.5vw;
}
/** Estilos Globales **/
/* Reset */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--ff-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05ch;
  color: var(--clr-mjr);
}
body {
  max-width: 100%;
  min-height: auto;
  background-color: var(--clr-snow);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
body > *:not(:last-child) {
  margin-bottom: 1rem;
}
header {
  max-width: 92.5vw;
  height: auto; 
  padding-top: 0.5em;
}
nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: var(--defautl--colum-gap);
  font-size: calc(0.60rem + 0.5vw);
  font-weight: 600;
}
main {
  min-width: var(--min-width);
  max-width: var(--max-width);
  height: 100%;
}
section {
  width: 100%;
  max-height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7.5em repeat(3, auto); 
  gap: calc(1em + 1vw);
  justify-items: center;
  align-items: flex-start;
}
article {
  width: 100%;
}
img {
  min-width: 250px;
  max-width: 90%;
  height: 100%;
}
input {
  /* Hide the native checkbox input */
  appearance: none;
  display: grid;
  position: relative;
  bottom: 1px;
  /* custom checkbox */
  font: inherit;
  border: var(--accessible-border);
  border-radius: var(--default-radious-border);
  box-shadow: var(--dark-shadow);
  cursor: pointer;
  font-size: 0.84rem;
  font-family: var(--ff-primary);
  padding-inline: 0.5em;
}
footer {
  background-color: var(--clr-grey-4);
  width: 100%;
  min-width: var(--min-width);
  height: 9vh;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--clr-snow);
  text-align: right;  
  display: flex;
  justify-content: center;
}

p,
ol {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.15;
  text-align: justify;
}
a,
li {
  list-style-type: none;
  text-decoration: none;
}

/* btn format */
.btn {
  max-width: 100%;
  height: 100%;
  background-color: var(--clr-rojo-pastel);
  color: var(--clr-snow);
  border: var(--accessible-border);
  box-shadow: var(--light-shadow);
  border-radius: var(--default-radious-border);
  cursor: pointer;
  padding-inline: 0.5em;
  text-transform: uppercase;
}
/* header */
.logo {
  position: relative;
  left: 47%;
  transform: translateX(-50%);
}
.links {
  min-width: var(--min-width);
  max-width: 350px;
  width: calc(100% - 36px);
  height: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1.55em;
}
.links a {
  color: var(--clr-mjr);
}
/* main */
.section-hero {
  grid-area: 1 / 1 / 2 / 2;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9em 0;
  text-align: center;
  padding-inline: 1em;
}
.form-title {
  font-size: calc(1.25rem + 1vw);
  font-weight: 700;
}
.email-form {
  width: 100%;
  max-height: calc(calc(1.5em * 2) + 0.5em);
  min-height: 1.5em;
  display: flex;
}
input[type="email"] {
  width: 60%;
  height: 100%;
}
.btn--form {
  margin-left: auto;
  box-shadow: var(--dark-shadow);
}

.section-features {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--defautl--colum-gap);
}
.feature-container {
  /* div para cada feature */
  width: 100%;
  min-height: 5rem;
  height: 100%;
  display: grid;
  padding: 0.3em 1em 0.6em 1em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  background-color: var(--clr-white);
  border-radius: var(--default-radious-border);
  box-shadow: var(--default-shadow);
}
.svg-container {
  /* icon - img */
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}
.material-symbols-outlined {
  font-size: calc(2.5rem + 1vw) !important;
  color: var(--clr-rojo-pastel);
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" -25, "opsz" 48;
}
.icon--reflectd {
  rotate: 90deg;
}
.section-features div h3 {
  /* title */
  margin: -0.15em 0 0 0;
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: 100%;
  font-weight: 700;
  text-decoration: underline;
}
.section-features div p {
  /* description */
  grid-area: 3 / 1 / 4 / 2;
  width: 100%;
  height: 100%;
  padding: 0.3rem 0 0 0;
}

.section-video {
  overflow: hidden;
  grid-area: 3 / 1 / 4 / 2;

  width: 100%;
  max-width: 1025px;
  height: 100%;
  max-height: 425px;
  
  position: relative; /* texto dentro de el contendor */
  padding-top: 56.25%; /* 16:9 Aspect Ratio (dividimos 9 en 16 = 0.5625)  */
  
  border-radius: 1.25em;
  box-shadow: var(--default-shadow);
}
iframe {
  width: 100%;
  max-width: 1025px;
  height: 100%;
  max-height: 576px;
  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.section-pricing {
  width: 100%;
  height: 100%;
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--defautl--colum-gap);
}
.pricing-container {
  width: 100%;
  height: auto;
  display: flex;
  gap: var(--defautl--colum-gap);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--default-radious-border);
  box-shadow: var(--default-shadow);
  background-color: var(--clr-white);
}
.pricing-container h3 {
  width: 100%;
  padding: 0.6em 0;
  background-color: var(--clr-white-smoke-2);
  border-radius: 0.35rem 0.35rem 0 0;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.02);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.pricing-container p {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.pricing-container ol {
  text-align: center;
}
.btn--buy {
  min-width: 30%;
  height: 25px;
  margin-bottom: 0.6em;
}

/* Footer */
.content-width {
  min-width: var(--min-width);
  width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.content-width > * {
  min-width: var(--min-width);
  width: calc(50% - 15vw);
}
.content-width ul {
  display: flex;
  flex-direction: row;
}
.links-footer {
  color: white;
}
.content-width ul li:nth-child(1) {
  margin-right: auto;
}
.content-width ul li:nth-last-child(1) {
  margin-left: auto;
}
.span-footer {
  font-size: 0.719em;
}

/* Small devices (Tablets portables y celulares, >= 600px)  */
@media screen and (min-width: 37.5em) {
  html {
    transition: font-size 0.35s ease-in-out;
    font-size: 18px;
  }
  body > *:not(:last-child) {
    transition: height 0.35s ease-in-out, max-width 0.35s ease-in-out, width 0.35s ease-in-out;
  }
  main, header, .content-width  {
    max-width: 87.5vw;
  }
}

/* Medium devices (Patallas chicas, notbooks, >= 768px)  */
@media screen and (min-width: 48em) { 
  html {
    font-size: 20px;
  }
  main, .content-width  {
    max-width: 80vw;
  }
  header {
    width: 90%;
    max-width: 90%;
  }
  /* header */
  nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0 0;
  }
  .logo {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    left: 18.5vh;
    transform: translateX(-50%);
    max-width: 365px;
  } 
  .links {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 0em;
  }
  .nav-bar .links li:nth-child(1) {
    margin-right: auto;
  } 
  .nav-bar .links li:nth-last-child(1) { 
    margin-left: auto;
  } 
  p, ol {
    line-height: 1;
    text-align: left;
  }
}

/* Extra large devices (Notbooks grandes y monitores de escritorio, >= 1025px and up) */
@media screen and (min-width: 64.0625em) { 
  p, .pricing-container li {
    font-size: 0.75rem;
  }
  main {
    width: 75vw; 
    max-width: 1025px;
  }
  header {
    max-width: 1025px;
  }
  footer {
    height: 12vh;
  }
  .section-features, .section-pricing {
    flex-direction: row;
    gap: var(--defautl--row-gap); /* 0.625em = 10px*/
    transition: flex-direction 2.5s ease-in-out;
  }
  .feature-container {
    padding: 0.8125em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
  }
  .section-features div h3 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .svg-container {
    grid-area: 1 / 2 / 2 / 3; 
    display: none;
  }
  .section-features div p {
    grid-area: 2 / 1 / 3 / 3;
  }
  /* Limitar el contenedor del iframe en 576px */
  .section-video {
    padding-top: clamp(0%, 56.25%, 576px);
  }
  /* Footer */
  .content-width {
    max-width: 1025px;
  }
  
}

/* ( >= 1200px ) */
@media screen and (min-width: 75em) {  
  html {
    font-size: 22px;
    transition: font-size 0.35s ease-in-out;
  }
   /* header */
  header {
    transition: width 0.35s ease-in-out, max-width 0.35s ease-in-out, padding-top 0.35s ease-in-out;
    width: 95%;
    max-width: 100%;
    padding-top: 0;
    margin-top: 00.35rem;
  }
  .logo {
    transition: left 0.35s ease-in-out, max-width 0.35s ease-in-out;
    left: 30vh;
    transform: translateX(-50%);
    max-width: calc(400px + 5vw);
  } 
  .links {
    transition: justify-content 0.35s ease-in-out, gap 0.35s ease-in-out;  
    justify-content: flex-end;
    gap: 0.625em;
  }
  .nav-bar .links li {
    transition: margin-right 0.35s ease-in-out, margin-left 0.35s ease-in-out;
  }
  .nav-bar .links li:nth-child(1) {
    margin-right: 0;
  } 
  .nav-bar .links li:nth-last-child(1) { 
    margin-left: 0;
  } 
  
  /* - */
  main {
    width: 85vw;  
    max-width: 1919px;
  }
  section {
    transition: gap 0.35s ease-in-out;
    gap: calc(3em + 1vw);
    margin-block: 2em;
  }
  .section-features, .section-pricing {
    max-width: 1025px;
  }
  .feature-container {
    padding-block: 1em;
    padding-inline: 1em;
    gap: 0.5em;
  }
  .pricing-container h3 {
    padding-block: 1.5em;
  }
  .pricing-container p {
    padding-top: 1em;
  }
  .pricing-container .btn {
    margin-block: 1.5em;
  }
  
}

/* ( >= 768px widht ) */
@media screen and (min-height: 64em) and (min-width: 48em) {
  .logo {
    left: 12.5vh;
  }
}

/* ( >= 1080px height ) */
@media screen and (min-height:  67.5em) and (min-width: 64.0625em) {  
  html {
    transition: font-size 0.35s ease-in-out;
  }
  .logo {
    left: 17.5vh;
  }
  .feature-container {
    padding: 0.8125em;
    grid-template-rows: 10% auto;
  }
  p {
    font-size: 1em;
  }
  .pricing-container li {
    font-size: 0.875rem;
  }
}
