@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/** Variabels **/
:root {
  --ff-primary: 'Open Sans', sans-serif;

  --light-shadow: 0 5px 20px rgba(0, 0, 0, 0.01);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --default-shadow: 0px 0px 3px -3px rgba(0, 0, 0, 1);

  --accessible-border: 1px solid transparent;
  --default-radious-border: 0.2rem;
}

/** Reset styles **/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li, a {
  text-decoration: none;
  color: #333;
  text-align: left;
}
ul {
  gap: 0.5rem 0;
}
/** Estilos de elemetnos **/
html {
  font-family: var(--ff-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: justify;
}
body {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "nav-bar"
    "main";
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
}
nav {
  grid-area: nav-bar;
  width: 100%;
  min-height: 200px;
  max-height: 35vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
main {
  grid-area: main;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
pre {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.625rem calc( 0.625rem + 2.5vw);
}


/** Estilos Globales **/
/* NAV */
.navbar-header {
  margin: 10px;
  text-align: center;
  align-self: center;
  font-size: 1.8rem;
  font-weight: 700;
}
.navbar ul {
  width: 95%;
  border-block: 2.5px solid #ccc;
  border-radius: 0.25rem;
  overflow: scroll;
  overflow-x: hidden;
}
.navbar ul li {
  padding: 0.25rem 1rem;
}
.navbar ul li:not(:last-child) {
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.nav-link {
  font-size: 0.875rem;
  cursor: pointer;
}
/* MAIN */
.main-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  

  padding-inline: 0.625rem;
  font-size: 0.875rem;
}
.main-section .heading {
  text-align: left;
  font-size: 1.5em; 
  font-weight: bold;
  text-decoration: underline #ccc;

}
.main-section article {
  width: 100%;
  padding: 0.475rem 0 1rem 0;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.625rem;
}
.main-section article ul {
  padding-inline-start: 1.5rem;
  padding-inline-end: .5rem;

  font-size: 0.813rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.link-to-another-page {
  text-decoration: underline;
  color: -webkit-link;
}

/* Medium devices (Small screens, laptops, tablets 768px and up) */
@media only screen and (min-width: 48em) {
  body {
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas:
      "nav-bar main";
    gap: 0;
  }
  nav {
    position: sticky;
    top: 0 ;
    max-height: 100vh;
    border-right: 3px solid #ccc;
    border-radius: 0;
  }
  .navbar ul {
    overflow: visible;
    overflow-x: visible;
  }
  main {
    padding: 1rem;
  }
  .navbar-header {
    font-size: 1.25rem; 
  }
  pre {
    width: 95%;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    padding: 1rem;

    align-self: center;
  }

}
/* Extra large devices (large laptops and desktops, 1024px and up) */
@media screen and (min-width: 64em) { 
  html {
    font-size: 22px;
  }
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media screen and (min-width: 90em) { 
  .navbar-header {
    font-size: 1.375rem; 
  }
  body {
    grid-template-columns: 24% 76%;
  }
}
